<div class="profile-sidebar">
  <!-- SIDEBAR USERPIC -->
  <div class="profile-userpic">
    <%= image_tag @student.picture.url, alt: @student.first_name ,class: "img-responsive" if !@student.picture.file.nil? %>
  </div>
  <!-- END SIDEBAR USERPIC -->
  <!-- SIDEBAR USER TITLE -->
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      <%= @student.first_name + " " + @student.last_name %>
    </div>
    <div class="profile-usertitle-job">
      <%= @student.birthdate.strftime("%Y/%m/%d") if !@student.birthdate.nil? %>
    </div>
    <div class="profile-usertitle-job">
      <%= @student.course.name + " " + @student.course.level if !@student.course.nil? %>
    </div>
  </div>
  <!-- END SIDEBAR USER TITLE -->
  <!-- SIDEBAR BUTTONS -->
  <div class="profile-userbuttons">
    <% if current_user == @student or current_user.admin? %>
    <%= link_to "Edit Student", edit_student_path(@student), class: "btn btn-success btn-sm" %>
    <%= link_to "Delete Student", registration_path(@student), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
    <% end %>
  </div>
  <!-- END SIDEBAR BUTTONS -->
  <!-- SIDEBAR MENU -->
  <div class="profile-usermenu">
    <ul class="nav">
      <li>
        <%= link_to '<i class="glyphicon glyphicon-cog"></i> Change Password'.html_safe, edit_student_registration_path(@student)  %>
      </li>
      <li>
        <%= link_to '<i class="glyphicon glyphicon-flag"></i> Change Course'.html_safe, new_student_change_course_path(student_id: @student.id)  %>
      </li>
    </ul>
  </div>
  <!-- END MENU -->
</div>