<h2><%= @student.first_name + " " + @student.last_name %> </h2>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <div class="row">
        <h3>My subjects</h3>
        <table class="table">
          <thead>
          <th>Subject</th>
          <th>Teacher</th>
          </thead>
          <tbody>
          <% @student.course_subjects.each do |subject| %>
            <%
              course_subject = CourseSubject.where(course_id: @student.course.id, subject_id: subject.id).first
            %>
            <tr>
              <td><%= subject.name %></td>
              <td><%= link_to course_subject.professor_first_name + " " + course_subject.professor_last_name, professor_path(course_subject.professor) %></td>
              <td><%= image_tag course_subject.professor_picture.url, size: "100x100", alt: course_subject.professor_first_name ,class: "img-responsive" if !course_subject.professor_picture.file.nil? %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <!--PARTNERS -->
      <div class="row">
        <h3>My classmates</h3>
        <table class="table table-striped">
          <thead>
          <th>Name</th>
          </thead>
          <tbody>
          <%@student.course_students.each do |student| %>
            <tr>
              <td><%= link_to student.first_name + " " + student.last_name, student_path(student) %></td>
              <td><%= image_tag student.picture.url, size: "100x100", alt: student.first_name ,class: "img-responsive" if !student.picture.file.nil? %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- PROFILE SIDEBAR -->
    <div class="col-md-4">
      <%= render 'students/sidebar' %>
    </div>
    <!-- END OF PROFILE SIDEBAR -->
  </div>

