<h2><%= @professor.first_name + " " + @professor.last_name %> </h2>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <div class="row">
      <% if @professor.course_subjects.size > 0 %>
      <h3>Subjects Taugh</h3>
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th>Course</th>
            <th>Action</th>
          </thead>
          <tbody>
            <% @professor.course_subjects.each do |course_subject| %>
            <tr>
              <td><%= course_subject.subject_name %> </td>
              <td><%= link_to course_subject.course_name + " " + course_subject.course_level, course_path(course_subject.course) %></td>
              <td>
                <% if !student_signed_in? %>
                <%= link_to "Delete Subject", course_subject_path(course_subject: course_subject.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm"  %>
                <% end %>
              </td>
              <td>
                <%= link_to "View Students", professor_professor_view_students_path(professor_id: @professor.id, course_id:course_subject.course), remote: true, class: "btn btn-primary btn-sm"  %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
      <h3> Currently not teaching</h3>
        <%= link_to "Add Course", courses_path, class: "btn btn-primary btn-lg" if current_user == @professor or current_user.admin? %>
      <% end %>
    </div>
  </div>
  <!-- PROFILE SIDEBAR -->
  <div class="col-md-4">
    <%= render 'professors/sidebar' %>
  </div>
  </div>
  <!-- END OF PROFILE SIDEBAR -->
</div>


<div id="view-students-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
